@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(data-base64:~assets/inter/regular.ttf) format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(data-base64:~assets/inter/bold.ttf) format("ttf");
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
