.bottom-label {
  position: absolute;
  bottom: .25rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: normal;
  color: #4A4863;
  font-size: 14px;
}

.dot {
  width: 2px;
  height: 2px;
  background: currentColor;
  border-radius: 100px;
}