@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

html {
  min-height: 300px;
  min-width: 300px;
}

body {
  min-height: 300px;
  min-width: 300px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.popup {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
